<a href="https://colab.research.google.com/github/usman-codez/intership_Task/blob/main/Intern_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#This program returns the highest marks with its key
std1 = {
    'Tayyab':88,
    'Gulsher':77,
    'Ali':90,
    'Hassan':72
}
def highest_marks(std):
  high = max(std.values())
  for key,value in std.items():
    if value == high:
      return key,value
highest_marks(std1)

('Ali', 90)

In [ ]:
#This program takes two lists and then convert them into dictionary

name = ['Ali','Tayyab','Gulsher','Shah']
numbers = [90,92,89,91]
# Convert lists into a dictionary
dic = dict(zip(name,numbers))
#For showing dict
print(dic)

{'Ali': 90, 'Tayyab': 92, 'Gulsher': 89, 'Shah': 91}

In [ ]:
#This program add any student in the dict with its value if not already otherwise update it

std = {
    'Tayyab':[92,65,78],
    'Gulsher':[89,77,53],
    'Ali':[90,87,68],
    'Hassan':[72,53,82]
}
def updates(students,name,marks):
  if name in students:
    students[name] = marks
  else:
    students[name] = marks
  return students
updates(std,'usman',[90,87,68])

{'Tayyab': [92, 65, 78],
 'Gulsher': [89, 77, 53],
 'Ali': [90, 87, 68],
 'Hassan': [72, 53, 82],
 'usman': [90, 87, 68]}

In [ ]:
#This program sorts the list of dictionries in the decending order

std = [{
    'Tayyab':[92,65,78],
    'Gulsher':[89,77,53],},
 {'Ali':[90,87,68],
    'Hassan':[72,53,82]},
 {'shah':[90,87,68],
    'mud':[72,53,82]}]
def get_sort(d):
  for key,value in d.items():
    avg = sum(value)/len(value)
    return -avg
sort = sorted(std,key=get_sort)
print(sort)

[{'Ali': [90, 87, 68], 'Hassan': [72, 53, 82]}, {'shah': [90, 87, 68], 'mud': [72, 53, 82]}, {'Tayyab': [92, 65, 78], 'Gulsher': [89, 77, 53]}]

In [ ]:
#To calculate the average of each students marks

std = {
    'Tayyab':[92,65,78],
    'Gulsher':[89,77,53],
    'Ali':[90,87,68],
    'Hassan':[72,53,82]
}
averages = {}
def average(students):
  for key,value in students.items():
    avg = sum(value)/len(value)
    averages[key] = avg
  return averages
average(std)

{'Tayyab': 78.33333333333333,
 'Gulsher': 73.0,
 'Ali': 81.66666666666667,
 'Hassan': 69.0}

In [ ]:
students = [{'Name':'Ali','Roll':1009,'Age':20},
 {'Name':'Tayyab','Roll':1045,'Age':22},
  {'Name':'Gulsher','Roll':1081,'Age':25},
   {'Name':'Shah','Roll':1079,'Age':25}]

def search(std):
  name = input('Enter the name: ')
  for i in std:
    if i['Name']==name.title():
      print(i)
      return

  print('Student not exist')

search(students)

Enter the name: tayyab
{'Name': 'Tayyab', 'Roll': 1045, 'Age': 22}

In [ ]:
classes = {
    'Fifth': [89,56,45,90,93,33],
    'Sixth': [67,98,23,45,84,32],
    'Seventh': [56,78,90,93,33,89]
}
avgs = {}
def highest_avg(cls):
  for key,value in cls.items():
    avg = sum(value)/len(value)
    avgs[key]=avg
  high = max(avgs, key = avgs.get)
  return high,avgs[high]

highest_avg(classes)

('Seventh', 73.16666666666667)

In [ ]:
std = {
    'Ali':[87,90,68,88],
    'Tayyab':[81,92,59,80],
    'Gulsher':[77,89,58,81]
}
std_1 = {}
def grade(students):
  for key,value in students.items():
    avg = sum(value)/len(value)
    if avg>90:
      students[key].append('A+')
    elif avg>80:
      students[key].append('A')
    elif avg>70:
      students[key].append('B')
    elif avg>60:
      students[key].append('C')
    elif avg>50:
      students[key].append('D')
    else:
      students[key].append('F')

  return students
grade(std)

{'Ali': [87, 90, 68, 88, 'A'],
 'Tayyab': [81, 92, 59, 80, 'B'],
 'Gulsher': [77, 89, 58, 81, 'B']}

In [ ]:
std = [('Ali','mechanics',90),('Usman','Algebra',88),('Gul','complex',68)]
dic = {}

for name, subject, marks in std:
  if name not in std:
    dic[name] = {}
  dic[name][subject]=subject

print(dic)

{'Ali': {'mechanics': 'mechanics'}, 'Usman': {'Algebra': 'Algebra'}, 'Gul': {'complex': 'complex'}}

In [ ]:
ali = {'Mechanics':90,'Algebra':87,'real':88}
tayab = {'Mechanics':92,'Algebra':81,'real':83}
gul = {'Mechanics':89,'Algebra':80,'real':84}

std = {}
#Method 1
# sum1 = sum(ali.values())
# std['Ali'] = sum1
# sum2 = sum(tayab.values())
# std['tayab'] = sum2
# sum3 = sum(gul.values())
# std['gul'] = sum3

#method2
std['Ali'] = sum(ali.values())
std['Tayyab'] = sum(tayab.values())
std['Gulsher'] = sum(gul.values())

print(std)

{'Ali': 265, 'Tayyab': 256, 'Gulsher': 253}

In [ ]:
std = {'Ali':90,'Gul':89,'Tyb':92,'Shah':81,'Saad':71,'Noman':78,'M':93}
avg = sum(std.values())/len(std.values())

for k,v in std.copy().items():
  if v<avg:
    del std[k]

print(std)

{'Ali': 90, 'Gul': 89, 'Tyb': 92, 'M': 93}

In [ ]:
std = {'Ali':90,'Gul':89,'Tyb':92,'Shah':81,'Saad':71,'Noman':78,'M':93}
def diff(marks):
  ma = max(marks.values())
  mi = min(marks.values())
  return f'The difference between max and min marks is {ma-mi}'

a = diff(std)
print(a)

The difference between max and min marks is 22

In [ ]:
std = [90,93,90,92,67,83,79,59,66,92]

c = {}
for i in std:
  if i in c:
    c[i] += 1
  else:
    c[i] = 1

print(c)

{90: 2, 93: 1, 92: 2, 67: 1, 83: 1, 79: 1, 59: 1, 66: 1}

In [ ]:
std = {'Ali':90,'Gul':89,'Tyb':92,'Shah':81,'Saad':71,'Noman':78,'M':93}
temp = std
highest = 0
highest_mark = {}

for x in range(len(std)):
    if len(highest_mark) == 3:
        continue
    for x,y in temp.items():
        if y > highest:
            name = x
            highest = y
    highest_mark[name] = highest
    highest = 0

    del temp[x]
print(highest_mark)

{'M': 93, 'Tyb': 92, 'Ali': 90}